label {
  font-family: Arial;
}

.dashboard-button {
    padding: 10px;
	font-size: 16px;
	background: goldenrod;
    width: 16%;
    margin-bottom: 10px;
}

.uwm-logo {
    height: 25%;
    width: 50%;
    padding: 10px;
    display: flex;

}

a {
  font-family: Arial;
  font-size: 12px;
}
.center {
    width: 50%;
    height: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(50%);
}

.form-title {
    text-align: center;
    font-family: "Arial Black";
    font-size: 20px;
    color: black;
    background: goldenrod;
}

.alert {
    font-family: Arial;
    font-size: 20px;
    color: red;
}

div {
  padding: 1em;
  max-width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
  padding: 5px;
}

tr {
    padding: 5px;
}

.horizontal-center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

button {
    width: 100%;
}

input {
    width: 100%;
}