<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Section</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
<div class="horizontal-center">
        <h3 class="form-title">Assign Section</h3>
    </div>
<div class="horizontal-center">
<table class="container">
    <form action="/assignSection/" method="post">
    {% csrf_token %}

    <tr>
                    <td><label for="accountDropdown">Select User:</label></td>
                    <td>
                        <select name="userId" id="accountDropdown">
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </td>
    </tr>
    <tr>
                    <td><label for="section">Select Section:</label></td>
                    <td>
                        <select name="sectionId" id="sectionDropdown">
                            {% for section in sections %}
                                <option value="{{ section.id }}">{{ section }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><button class="back" type="button" onclick="location.href='/dashboard/'">Back</button></td>
                    <td><button type="submit">Assign Section</button></td>
                </tr>
    </table>
    </form>
    </div>
    <div class = "container">

        {{ message }}
    </div>




</body>
</html>
