
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>

    <div class="horizontal-center">
        <h3 class="form-title">Create Section</h3>
    </div>
    <br>
    <div>
        <form method="POST">
            {% csrf_token %}
            <table class="container">
                <tr> 
                    <td><label for="accountDropdown">Course Number:</label></td>
                <td>
                    <select style="width: 100%" name="course_num" id="courseDropdown">
                        {% for course in courses %}
                            <option value="{{ course.0 }}">{{ course.1 }}</option>
                        {% endfor %}
                            </select>
                </td>
                </tr>
                <tr>
                    <td><label for="section_num">Section Number:</label></td>
                    <td><input type="number" name="section" placeholder="000"></td>
                </tr>
                <tr>
                    <td><label for="location">Location:</label></td>
                    <td><input type="text" name="location" placeholder="EMS180"></td>
                </tr>
                <tr>
                    <td><label for="start_time">Start time:</label></td>
                    <td><input type="time" name="start_time" placeholder="00:00"></td>
                </tr>
                <tr>
                    <td><label for="end_time">End time:</label></td>
                    <td><input type="time" name="end_time" placeholder="00:00"></td>
                </tr>
                <tr>
                    <td><label>Monday</label></td>
                    <td><input type="checkbox" name="monday"></td>
                </tr>
                <tr>
                    <td><label>Tuesday</label></td>
                    <td><input type="checkbox" name="tuesday"></td>
                </tr>
                <tr>
                    <td><label>Wednesday</label></td>
                    <td><input type="checkbox" name="wednesday"></td>
                </tr>
                <tr>
                    <td><label>Thursday</label></td>
                    <td><input type="checkbox" name="thursday"> </td>
                </tr>
                <tr>
                    <td><label>Friday</label></td>
                    <td><input type="checkbox" name="friday"></td>
                </tr>
                <tr>
                    <td><label for="type">Section type:</label></td>
                    <td><select name="type" id="type">
                        {% for type in types %}
                            <option value="{{ type.0 }}">{{ type.1 }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td><button class="back" type="button" onclick="location.href='/dashboard/'">Back</button></td>
                    <td><input type="submit" value="Save"></td>
                </tr>
            </table>
            <div class="container">
                <p class="alert">{{ message }}</p>
            </div>
        </form>
    </div>
</body>
</html>
