<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supervisor Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
<h1>Logged in as: {{ user }}</h1>

<div class="container">
    <button type="button" class="dashboard-button" onclick="location.href='/createAccount/'">
        <strong>Create Account</strong>
    </button>

    <button type="button"  class="dashboard-button"onclick="location.href='/createCourse/'">
        <strong>Create Course</strong>
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='/createSection/'">
        <strong>Create Section</strong>
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='/deleteAccount/'">
        <strong>Delete Account</strong>
    </button>

    <button type="button"  class="dashboard-button" onclick="location.href='https://google.com'">
        Send Notification
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='https://google.com'">
        Edit Account
    </button>

    <button type="button" class="dashboard-button"  onclick="location.href='https://google.com'">
        Read Public Contact Info
    </button>

    <button type="button"  class="dashboard-button" onclick="location.href='https://google.com'">
        Edit Contact Info
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='https://google.com'">
        Assign Teacher
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='https://google.com'">
        View Data
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='/logout/'">
        <strong>Logout</strong>
    </button>

    </div>
</body>
</html>
