<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>

<ul>
    <li><a>Logged in as {{ username }} - {{ role }}</a></li>
    <li><a href="/createAccount/">Create Account</a></li>
    <li><a href="/deleteAccount/">Delete Account</a></li>
    <li><a href="/createCourse/">Create Course</a></li>
    <li><a href="/createSection/">Create Section</a></li>
    <li><a href="/assignUser/">Assign User</a></li>
    <li><a href="/logout/">Logout</a></li>
</ul>

<h3 class="form-title">Users</h3>
<table class="dashboard-table">
    {% for user in users %}
        <tr>
            {% for attr in user %}
                <td class="dashboard-table">{{ attr }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h3 class="form-title">Courses</h3>
<table class="dashboard-table">
    {% for course in courses %}
        <tr>
            {% for attr in course %}
                <td class="dashboard-table">{{ attr }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h3 class="form-title">Sections</h3>
<table class="dashboard-table">
    {% for section in sections %}
        <tr>
            {% for attr in section %}
                <td class="dashboard-table">{{ attr }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<!--
<div class="container">
    <button type="button" class="dashboard-button" onclick="location.href='/createAccount/'">
        <strong>Create Account</strong>
    </button>

    <button type="button"  class="dashboard-button"onclick="location.href='/createCourse/'">
        <strong>Create Course</strong>
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='/createSection/'">
        <strong>Create Section</strong>
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='/deleteAccount/'">
        <strong>Delete Account</strong>
    </button>

    <button type="button"  class="dashboard-button" onclick="location.href='https://google.com'">
        Send Notification
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='https://google.com'">
        Edit Account
    </button>

    <button type="button" class="dashboard-button"  onclick="location.href='https://google.com'">
        Read Public Contact Info
    </button>

    <button type="button"  class="dashboard-button" onclick="location.href='https://google.com'">
        Edit Contact Info
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='https://google.com'">
        Assign Teacher
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='https://google.com'">
        View Data
    </button>

    <button type="button" class="dashboard-button" onclick="location.href='/logout/'">
        <strong>Logout</strong>
    </button>
    -->

    </div>
</body>
</html>
