<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <div class="horizontal-center">
        <h3 class="form-title">Edit Account Information</h3>
    </div>
    <form method="post">
        {% csrf_token %}
            <table class="container" style="padding: 10px">
                <tr>
                    <td><label for="first-name">First Name:</label></td>
                    <td><input type="text" name="first-name" value="{{ first }}" required></td>
                </tr>
                <tr>
                    <td><label for="last-name">Last Name:</label></td>
                    <td><input type="text" name="last-name" value="{{ last }}" required></td>
                </tr>
                <tr>
                    <td><label for="phone">Phone:</label></td>
                    <td><input type="text" name="phone" value="{{ phone }}" required></td>
                </tr>
                <tr>
                    <td><label for="skills">Skills:</label></td>
                    <td><input type="text" name="skills" value="{{ skills }}" maxlength="500"></td>
                </tr>
                <tr>
                    <td><button class="back" type="button" onclick="location.href='/dashboard/'">
        Back
    </button></td>
                    <td><input type="submit" value="Update"></td>
                </tr>
                <tr>
                    <td><p class="alert">{{ message }}</p></td>
                </tr>
            </table>
            <br>
    </form>
</body>
</html>