
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <div class="center">
        {% load static %}
        <img src="{% static '/UWM-logo.png' %}" class="uwm-logo" alt="UWM logo">
    </div>
    <div>
        <h3 class="form-title">UWM Computer Science TA Scheduling</h3>
    </div>
    <br>
    <div>
        <form method="POST">
            {% csrf_token %}
            <table class="container">
                <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Login"></td>
                </tr>
            </table>
            <div class="container">
                <p class="alert">{{ message }}</p>
            </div>
        </form>
    </div>
</body>
</html>